* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 16px;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

/* Contenedor con fondo degradado naranja  */

.hero {
    display: flex;
    flex-flow: column nowrap;
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-radius: 0px 0px 0px 120px;
    height: auto;
    padding-bottom: 10%;
}

.cabecera {
    display: flex;
    flex-flow: row nowrap;
    max-height: 100px;
    max-width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.logo {
    display: flex;
    padding: 0 80px;
    align-items: center;
}

.menuDesktop {
    display: flex;
    flex: 5 3 auto;
    font-family: 'Ubuntu', sans-serif;
    z-index: 10;
    align-items: center;
}

.menuDesktop a {
    color: hsl(0, 0%, 100%);
    margin-left: 5%;
}

.menuMovil {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Ubuntu', sans-serif;
    z-index: 100;
}

.menuMovil ul {
    display: none;
    background: hsl(0, 0%, 100%);
    list-style: none;
    text-align: center;
    border-radius: 5px;
    width: 200px;
}

.menuMovil a {
    color: hsl(208, 49%, 24%);
    font-weight: 500;
    margin-top: 5%;
}

.menuMovil li {
    display: flex;
    flex-direction: column;
    padding-top: 25%;
    margin: 0;
    list-style: none;
}

.menuMovil input:checked~ul {
    display: flex;
    flex-direction: column;
}

.menuMovil input {
    display: none;
}

.menuMovil input:checked~label {
    display: flex;
    content: url(/images/icon-close.svg);
}

.menuMovil :hover {
    cursor: pointer;
}

.menuMovil label {
    display: inline-block;
    user-select: none;
}

.menuMovil hr {
    margin-top: 30%;
    margin-bottom: 10%;
    margin-left: 10%;
    width: 80%;
}

.menuMovil button {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 35px;
    border-style: none;
    width: 100px;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 26%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: hsl(353, 100%, 62%);
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Botones login y Sign up */

.BotonesCabecera {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    font-family: 'Ubuntu', sans-serif;
    z-index: 10;
}

.BotonesCabecera a {
    color: hsl(0, 0%, 100%);
    margin-right: 10%;
}

.BotonesCabecera button {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 35px;
    border-style: none;
    width: auto;
    height: auto;
    padding: 10%;
    color: hsl(353, 100%, 62%);
    font-weight: 700;
    letter-spacing: 1px;
}

.BotonesCabecera button:hover {
    color: hsl(0, 0%, 100%);
    background: rgba(255%, 255%, 255%, 35%);
    cursor: pointer;
}

/* Letra y botones dentro de hero */

.contenido-hero {
    margin-top: 130px;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.contenido-hero h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-size: 60px;
}

.contenido-hero h4 {
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.btnStart {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 35px;
    border-style: none;
    width: auto;
    height: auto;
    padding: 15px;
    background: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 50px;
}

.btnStart:hover {
    color: hsl(0, 0%, 100%);
    background: rgba(255%, 255%, 255%, 35%);
    cursor: pointer;
}

.btnLearn {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 35px;
    border-color: hsl(0, 0%, 100%);
    border-style: solid;
    width: auto;
    height: auto;
    padding: 15px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    letter-spacing: 1px;
    background-color: transparent;
}

.btnLearn:hover {
    background: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    cursor: pointer;
}

.heroimage {
    position: fixed;
    right: -80%;
    top: -180%;
}

/* Primer titulo */

.Title1 h1 {
    padding: 5%;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    color: hsl(208, 49%, 24%);
}

/* Primer sección */

.sec1 {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.boxLeft1 {
    width: 50%;
}

.boxLeft1 h3 {
    margin-top: 10%;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: left;
    color: hsl(208, 49%, 24%);
}

.boxLeft1 p {
    padding-top: 5%;
    color: hsl(207, 13%, 34%);
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
}

.boxRight1 {
    display: flex;
    float: right;
    width: 50%;
}

.boxRight1 img {
    width: 100%;
    height: auto;
    display: block;
}

.boxRight1 h3 {
    margin-top: 10%;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: left;
    color: hsl(208, 49%, 24%);
}

.boxRight1 p {
    padding-top: 5%;
    color: hsl(207, 13%, 34%);
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
}

.boxRight1 {
    display: flex;
    float: right;
    width: 50%;
}

/* Segunda sección */

.sec2 {
    background: linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-radius: 0px 100px 0px 100px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.boxRight2 {
    width: 50%;
}

.boxRight2 h1 {
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: left;
    color: hsl(0, 0%, 100%);
}

.boxRight2 p {
    padding-top: 5%;
    padding-right: 50%;
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
}

.boxLeft2 {
    display: flex;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.circulos {
    height: 200%;
    margin-top: -60%;
    margin-left: -30%;
}

.celulares {
    position: absolute;
    z-index: 9;
    margin-left: -25%;
    height: 95%;
}

/* Tercer sección */

.sec3 {
    display: flex;
    margin-right: 15%;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 15%;
}

.boxRight3 {
    width: 50%;
    padding-left: 6%;
}

.boxRight3 h3 {
    margin-top: 10%;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: left;
    color: hsl(208, 49%, 24%);
}

.boxRight3 p {
    padding-top: 5%;
    color: hsl(207, 13%, 34%);
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
}

.boxLeft3 {
    display: flex;
    float: right;
    width: 50%;
}

.boxLeft3 img {
    width: 150%;
    height: auto;
    display: block;
    margin-left: -44%;
}

/* Pie de página */

.pie {
    background: hsl(240, 10%, 16%);
    border-radius: 0px 100px 0px 0px;
    height: auto;
    display: flex;
    align-items: initial;
    justify-content: center;
    color: hsl(240, 2%, 79%);
    font-family: 'Ubuntu', sans-serif;
    padding-top: 10%;
    padding-bottom: 10%;
}

.pie h3 {
    padding-bottom: 3%;
}

.pie ul {
    list-style: none;
    padding: 0;
}

.pie li {
    margin-top: 8%;
}

.pie a {
    color: hsl(240, 2%, 79%);
}

.pie a:hover {
    text-decoration: underline
}

.pie div {
    width: 20%;
}

/* Adaptibilidad moviles */

@media screen and (max-width:767px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .menuDesktop {
        visibility: hidden;
    }
    .menuMovil {
        visibility: visible;
        margin-right: 5%;
    }
    .logo {
        padding: 0;
        margin-left: 5%;
    }
    .BotonesCabecera {
        visibility: hidden;
    }
    .hero {
        padding-bottom: 40%;
    }
    .Title1 h1 {
        margin-top: 15%;
    }
    /* Sección 1 moviles */
    .sec1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }
    /* Seccion 1 Imagen moviles */
    .boxLeft1 {
        width: 100%;
        content: url(../images/illustration-editor-mobile.svg);
    }
    /* Oculta letra de escritorio */
    .boxLeft1 h3 {
        visibility: hidden;
    }
    .boxLeft1 p {
        visibility: hidden;
    }

    /* Seccion Letra moviles */
    .boxRight1 {
        width: 100%;
        display: block;
    }
    /* Oculta imagen de escritorio */
    .boxRight1 img {
        visibility: hidden;
    }
    .boxRight1 h3 {
        text-align: center;
    }
    .boxRight1 p {
        text-align: center;
    }

    /* Sección 2 Moviles */
    .sec2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }
}