* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 16px;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

/* Contenedor con fondo degradado naranja  */

.hero {
    display: flex;
    flex-flow: column nowrap;
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-radius: 0px 0px 0px 120px;
    height: 700px;
    padding-bottom: 10%;
}

header {
    display: flex;
}

.logo {
    display: flex;
    padding: 0 80px;
    align-items: center;
}

.Menu {
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.Menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.Menu_items li {
    border-radius: 3px;
    margin: 0 5px;
}

.Menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 100%);
}

.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: none;
    color: hsl(0, 0%, 100%);
}

ul.show {
    top: 65px;
}

/* Botones login y Sign up */

.BotonesCabecera {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    z-index: 10;
}

.BotonesCabecera a {
    color: hsl(0, 0%, 100%);
}

.BotonesCabecera button {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 35px;
    border-style: none;
    width: auto;
    height: auto;
    padding: 10px;
    color: hsl(353, 100%, 62%);
    font-weight: 700;
    letter-spacing: 1px;
}

.BotonesCabecera button:hover {
    color: hsl(0, 0%, 100%);
    background: rgba(255%, 255%, 255%, 35%);
    cursor: pointer;
}

/* Letra y botones dentro de hero */

.contenido-hero {
    margin-top: 130px;
    align-items: center;
    text-align: center;
    z-index: 9;
}

.contenido-hero h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-size: 60px;
}

.contenido-hero h4 {
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.btnStart {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 35px;
    border-style: none;
    width: auto;
    height: auto;
    padding: 15px;
    background: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 50px;
}

.btnStart:hover {
    color: hsl(0, 0%, 100%);
    background: rgba(255%, 255%, 255%, 35%);
    cursor: pointer;
}

.btnLearn {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 35px;
    border-color: hsl(0, 0%, 100%);
    border-style: solid;
    width: auto;
    height: auto;
    padding: 15px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    letter-spacing: 1px;
    background-color: transparent;
}

.btnLearn:hover {
    background: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    cursor: pointer;
}

.heroimage {
    position: fixed;
    right: -80%;
    top: -180%;
}

/* Primer titulo */

.Title1 h1 {
    padding: 5%;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    color: hsl(208, 49%, 24%);
}

/* Primer sección */

.sec1 {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.boxLeft1 {
    width: 50%;
}

.boxLeft1 h3 {
    margin-top: 10%;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: left;
    color: hsl(208, 49%, 24%);
}

.boxLeft1 p {
    padding-top: 5%;
    color: hsl(207, 13%, 34%);
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
}

.boxRight1 {
    display: flex;
    float: right;
    width: 50%;
}

.boxRight1 img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.boxRight1 h3 {
    margin-top: 10%;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: left;
    color: hsl(208, 49%, 24%);
}

.boxRight1 p {
    padding-top: 5%;
    color: hsl(207, 13%, 34%);
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
}

.boxRight1 {
    display: flex;
    float: right;
    width: 50%;
}

/* Sección 2 Escritorio */

.sec2 {
    background: linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-radius: 0px 100px 0px 100px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

/* Letra Sección 2 */

.boxRight2 {
    width: 50%;
}

.boxRight2 h1 {
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: left;
    color: hsl(0, 0%, 100%);
}

.boxRight2 p {
    padding-top: 5%;
    padding-right: 50%;
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
}

.boxLeft2 {
    display: flex;
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(../images/bg-pattern-circles.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 100%;
    background-position-x: 100%;
}

/* Imagen celulares */

.celulares {
    margin-top: -13%;
    height: 160%;
}

/* Tercer sección */

.sec3 {
    display: flex;
    margin-right: 15%;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 15%;
}

.boxRight3 {
    width: 50%;
    padding-left: 6%;
}

.boxRight3 h3 {
    margin-top: 10%;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: left;
    color: hsl(208, 49%, 24%);
}

.boxRight3 p {
    padding-top: 5%;
    color: hsl(207, 13%, 34%);
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
}

.boxLeft3 {
    display: flex;
    float: right;
    width: 50%;
}

.boxLeft3 img {
    display: flex;
    flex-direction: column;
    width: 150%;
    height: auto;
    margin-left: -44%;
}

/* Pie de página */

.pie {
    background: hsl(240, 10%, 16%);
    border-radius: 0px 100px 0px 0px;
    height: auto;
    display: flex;
    align-items: initial;
    justify-content: center;
    color: hsl(240, 2%, 79%);
    font-family: 'Ubuntu', sans-serif;
    padding-top: 10%;
    padding-bottom: 10%;
}

.pie h3 {
    padding-bottom: 3%;
}

.pie ul {
    list-style: none;
    padding: 0;
}

.pie li {
    margin-top: 8%;
}

.pie a {
    color: hsl(240, 2%, 79%);
}

.pie a:hover {
    text-decoration: underline
}

.pie div {
    width: 20%;
}

/* Adaptibilidad moviles */

@media (max-width:800px) {
    body {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .Menu {
        height: 65px;
        justify-content: flex-end;
        z-index: 10;
    }
    .btn_menu {
        display: inline-flex;
    }
    .Menu_items {
        position: fixed;
        width: 100vw;
        height: calc(100% -65px);
        top: -100vh;
        text-align: center;
        flex-direction: column;
        height: calc(100% -65px);
        background-color: white;
        border-radius: 5px;
    }
    .Menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .Menu_items li:hover {
        background: none;
    }
    .Menu_items li a {
        font-size: 20px;
        font-weight: bold;
        color: hsl(208, 49%, 24%);
    }
    .Menu_items li {
        margin: 5px 0 0 0;
    }
    .logo {
        padding: 0;
        margin-left: 5%;
    }
    .BotonesCabecera {
        display: none;
    }
    .hero {
        padding-bottom: 40%;
    }
    .Title1 h1 {
        margin-top: 15%;
    }
    /* Sección 1 moviles */
    .sec1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    /* Seccion 1 Imagen moviles */
    .boxLeft1 {
        width: 100%;
        content: url(../images/illustration-editor-mobile.svg);
    }
    /* Oculta letra de escritorio */
    .boxLeft1 h3 {
        display: none;
    }
    .boxLeft1 p {
        display: none;
    }
    /* Seccion Letra moviles */
    .boxRight1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 40%;
    }
    /* Oculta imagen de escritorio */
    .boxRight1 img {
        display: none;
    }
    /* Centra texto sección 1 */
    .boxRight1 h3 {
        text-align: center;
    }
    .boxRight1 p {
        text-align: center;
    }
    /* Sección 2 Moviles */
    .sec2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 800px;
    }
    .boxLeft2 {
        width: 100%;
        background-position-y: 170%;
        background-position-x: 50%;
    }
    .celulares {
        height: 50%;
    }
    /* Letra sección 2 */
    .boxRight2 {
        margin-top: 25%;
        padding-top: 25%;
        position: absolute;
        width: 100%;
    }
    .boxRight2 h1 {
        font-size: 3em;
        text-align: center;
    }
    .boxRight2 p {
        font-size: 1.2em;
        text-align: center;
        padding: 0%;
        margin-top: 10%;
    }
    /* Sección 3 MOVILES */
    .sec3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .boxLeft3 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .boxLeft3 img {
        content: url(../images/illustration-laptop-mobile.svg);
        margin-left: -20%;
    }
    .boxRight3 h3 {
        text-align: center;
    }
    .boxRight3 p {
        text-align: center;
    }
    /* Footer Moviles */
    .pie {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        text-align: center;
    }
    .pie li {
        margin-top: 2%;
    }
    .pie div {
        margin-top: 15%;
        width: 100%;
    }
}

@media screen and (max-width: 858px)and(orientation:landscape) {
    .Menu_items li {
        margin: 5px 0 0 0;
    }
    .Menu_items {
        overflow: scroll;
        height: calc(100% -65px);
    }
}

@media screen and (min-width:1024px) {
    .boxRight1 .letraMovil1 {
        display: none;
    }
    .menuMovil {
        display: none;
    }
}